<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.birbit.android.jobqueue.examples.twitter"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application android:label="@string/app_name"
                 android:name="com.birbit.android.jobqueue.examples.twitter.TwitterApplication">
        <activity android:name="com.birbit.android.jobqueue.examples.twitter.SampleTwitterClient"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name=".services.MyJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".services.MyGcmJobService"
            android:exported="true"
            android:permission="com.google.android.gms.permission.BIND_NETWORK_TASK_SERVICE">
            <intent-filter>
                <action android:name="com.google.android.gms.gcm.ACTION_TASK_READY" />
            </intent-filter>
        </service>
    </application>
</manifest>
